<?php

return [
    'jwt'                              => [
        'signing_key'   => 'YourSecretKeyForSigningJwts',
        'typ'           => 'JWT',
        'alg'           => 'HS256'
    ],
    'access-control'                   => []
];